body{
    background-image: url("../images/maxresdefault.jpg");
    background-size: cover;
}

.TOPSONG{
    color: #A40E56;
    font-family: 'Inter';
    text-decoration: none;
    font-weight: 900;
    font-size: 44px;
    margin-top: -300px;
    margin-left: 300px;
}

.TOPCLASS{
    color: #020001;
    font-family: 'Inter';
    text-decoration: none;
    font-weight: 900;
    font-size: 44px;
    margin-top: -330px;
    margin-left: 1350px;

}

.bar{
    display:flex;
    justify-content: space-between;
}

.retour{
    color: #FF449E;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 900;
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    margin-top: 450px;
    margin-left: 0px;
    
}

.retour-text {
    
    font-size: 48px;
    text-align: center;
    line-height: 1;

}

.retour-text a{
    color: #FF449E;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-decoration: none;
    font-weight: 900;
    white-space: nowrap;
}
